<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/css/create.css" />
        <%- include('./partials/head'); %>
    </head>
    <body>

        <%- include('./partials/nav', { title: 'Edit', user: user, hideMenu: true, showBack: true }); %>

        <div class="container">
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field">
                            <input id="title" type="text" value="<%= locals.prefill ? locals.prefill.title : '' %> " />
                            <label for="title">Title</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="rate">
                            <input type="radio" id="star5" name="rate" value="5" />
                            <label for="star5" title="5 stars">5 stars</label>
                            <input type="radio" id="star4" name="rate" value="4" />
                            <label for="star4" title="4 stars">4 stars</label>
                            <input type="radio" id="star3" name="rate" value="3" />
                            <label for="star3" title="3 stars">3 stars</label>
                            <input type="radio" id="star2" name="rate" value="2" />
                            <label for="star2" title="2 stars">2 stars</label>
                            <input type="radio" id="star1" name="rate" value="1" />
                            <label for="star1" title="1 star">1 star</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <select id="category">
                                <option value="0" disabled selected>TV or Film</option>
                                <option value="TV Show" class="waves-effect">TV Show</option>
                                <option value="Film" class="waves-effect">Film</option>
                                <option value="Other" class="waves-effect">Other</option>
                            </select>
                            <label>Category</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input id="genre" type="text" value="<%= locals.prefill.genre || '' %> " />
                            <label for="genre">Genre (Optional)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <input id="source" type="text" value="<%= locals.prefill.source || '' %> " />
                            <label for="source">Where did you watch it? (Netflix, Amazon, etc)</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <textarea id="review" class="materialize-textarea"><%= locals.prefill.review || '' %></textarea>
                            <label for="review">A Short Review</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field">
                            <select id="people" multiple>
                                <% if (locals.friends) { for (const i in friends) {%>
                                    <option value="<%= friends[i].username %>"><%= friends[i].username %> </option>
                                <% }} %>
                            </select>
                            <label>Tag friends</label>
                        </div>
                    </div>
                    <div class="row">
                        <btn class="waves-effect waves-light deep-orange btn" onclick="post()" style="width: 100%;"><i class="material-icons left">add</i>Recommend</btn>
                    </div>
                </form>
            </div>
    
        </div>

        <%- include('./partials/foot'); %>
        <script>
            M.AutoInit();
        </script>
    </body>
</html>