<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head'); %>
    </head>
    <body>

        <%- include('./partials/nav', { title: 'Friends', username: username }); %>

        <div class="fixed-action-btn" id="fab">
            <a
                class="btn-floating btn-large deep-orange"
                href="/app/friends/add"
                id="fabstyle"
            >
                <i class="large material-icons">add</i>
            </a>
        </div>
    

        <div class="container">
            <% if (locals.requests.length > 0) { %>
                <h5 id="requestsH">Requests:</h5>
                <ul class="collapsible requestsSection" id="requestsCollapsible">
                    <% for (const i in requests) { %>
                        <li data-requestid="<%= requests[i].username %>">
                            <div class="collapsible-header waves-effect"><i class="material-icons">person</i><%= requests[i].username %> <span class="new badge green" data-badge-caption="Incoming"></span></div>
                            <div class="collapsible-body">
                                <button type="button" class="btn red darken-2 waves-effect" style="width: 100%" onclick="ignore('<%= requests[i].username %>')"><i class="material-icons left">remove_circle_outline</i>Ignore</button>
                                <br />
                                <br />
                                <button type="button" class="btn green darken-2 waves-effect" style="width: 100%;" onclick="accept('<%= requests[i].username %>')"><i class="material-icons left">person_add_alt_1</i>Accept</button>
                            </div>
                        </li>
                    <% } %>
                </ul>
                <% if (locals.friends.length > 0) { %>
                    <h5>Friends:</h5>
                <% } %>
            <% } %>
            <% if (locals.friends.length > 0) { %>
                <ul class="collapsible">
                    <% for (const i in friends) { %>
                        <li>
                            <div class="collapsible-header" onclick="redirect('/app/users/<%= friends[i].username %>')"><i class="material-icons">person</i><%= friends[i].username %></div>
                        </li>
                    <% } %>
                </ul>
            <% } %>
        </div>

        <%- include('./partials/foot') %>
        <script>
            M.AutoInit();

            function openFirstRequest() {
                const reqCollapse = document.querySelector('#requestsCollapsible');
                if (reqCollapse) {
                    M.Collapsible.getInstance(reqCollapse).open(0);
                }
                if (0 == (reqCollapse.children.length || '')) {
                    reqCollapse.remove();
                    document.querySelector('#requestsH').remove();
                }
            }
            openFirstRequest();

            async function ignore(request) {
                
                const url = '/api/users/<%= username %>/requests/remove';
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ request })
                });

                const status = await response.status;
                const json = await response.json();

                console.log(status, json);

                if (status === 201) {
                    document.querySelector(`[data-requestid="${request}"`).remove();
                    M.toast({ html: `Request Ignored: ${request}` });
                    openFirstRequest();
                }

            }

            async function accept(request) {

                const url = '/api/users/<%= username %>/requests/add';
                const response = await fetch(url, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ request })
                });

                const status = await response.status;
                const json = await response.json();

                console.log(status, json);

                if (status == 201) {
                    reload();

                }

            }
        </script>
    </body>
</html>