<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head'); %>
		<link rel="stylesheet" href="/public/css/index.css" />
	</head>

	<%- include('./partials/nav', { title: 'Home', user: user }); %>

	<div class="fixed-action-btn" id="fab">
		<a
			class="btn-floating btn-large deep-orange"
			href="/app/posts/create"
			id="fabstyle"
		>
			<i class="large material-icons">mode_edit</i>
		</a>
	</div>

	<div class="container">
		<% for( const i in locals.posts ) { %>
		<div class="card z-depth-1">
			<a
				href="/app/posts/<%= locals.posts[i].id %>"
				style="color: black; font-weight: bold"
			>
				<div class="card-content">
					<span class="card-title" style="font-weight: bold"
						><%= posts[i].title %></span
					>
					<div class="chip deep-orange white-text"><%= posts[i].category %></div>
					<% if (posts[i].genre) { %>
						<div class="chip"><%= posts[i].genre %></div>
					<% } %>
					<p class="deep-orange-text" style="width: fit-content">
						<%= posts[i].author %>
					</p>
				</div>
			</a>
		</div>
		<% } %>
		<div class="row center-align" id="nothing" <%= locals.posts.length == 0 ? '' : 'hidden' %>>
			<h5>Nothing here</h5>
			<h6>Start by creating a post using the pencil button</h6>
		</div>
	</div>

	<%- include('./partials/foot'); %>
	<script>
		M.AutoInit();
	</script>
</html>
