<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/public/css/create.css" />
        <%- include('./partials/head'); %>
    </head>

    <%- include('./partials/nav', { title: 'View Post', user: user, hideMenu: true, showBack: true }); %>

    <div class="container" style="max-width: 800px;">
        <% if (post.people) {  if (post.people.includes(user.username)) { %>
            <span class="new badge right deep-orange" data-badge-caption="Recommended to you"></span>
        <% }} %>
        <div class="row">
            <h4><%= post.title %> </h4>
        </div>
        <div class="row">
            <div class="rate">
                <% for( let i = 5; i > 0; i-- ) { %>
                    <input type="radio" id="star<%= i %>" name="rate" value="<%= i %>" onclick="stopClick(event)" style="pointer-events: none !important; cursor: default !important;" disabled <% if (post.rating == i) { %>
                        checked
                    <% } %>/>
                    <label for="star<%= i %>" title="<%= i %> stars">5 stars</label>
                <% } %>
            </div>
        </div>
        <div class="row">
            <div class="chip deep-orange" style="color: white; font-weight: light; font-size: 1.1em;" onclick="redirect('/app/users/<%= post.author %>')">@<%= post.author %></div>
        </div>
        <div class="row">
            <div class="chip"><%= post.category %></div>
            <% if (post.genre) { %>
                <div class="chip"><%= post.genre %></div>
            <% } %>
        </div>
        <% if (post.source) { %>
            <div class="row">
                <p style="font-weight: bold;">Watched on: <%= post.source %> </p>
            </div>
        <% } %>
        <% if (post.review) { %>
            <div class="row">
                <p><%= post.review %> </p>
            </div>
        <% } %>
        <% if (!locals.ownPost) { %>
            <% if (!locals.onWatchlist) { %> 
                <div class="row">
                    <button type="button" class="waves-effect btn deep-orange waves-light" id="watchlistbtn" style="width: 100%;" onclick="addToWatchlist()"><i class="material-icons left">playlist_add</i>Add to watchlist</button>
                </div>
            <% } else { %>
                <div class="row">
                    <button type="button" class="waves-effect btn deep-orange waves-light" id="watchlistbtn" style="width: 100%;" onclick="removeFromWatchlist()"><i class="material-icons left">remove_circle_outline</i>Remove from watchlist</button>
                </div>
            <% } %>
        <% } else { %>
            <div class="row">
                <button type="button" class="waves-effect btn deep-orange waves-light" id="editbtn" style="width: 100%;" onclick="redirect('/app/posts/<%= post.id %>/edit')"><i class="material-icons left">edit</i>Edit post</button>
            </div>
            <div class="row">
                <button type="button" class="waves-effect btn red darken-4 waves-light" id="deletebtn" style="width: 100%;" onclick="deletePost()" ><i class="material-icons left">delete</i>Delete post</button>
            </div>
        <% } %>
        
    </div>

    <%- include('./partials/foot'); %>
    <script>
        function stopClick(e) {
            e.preventDefault();
        }

        async function addToWatchlist() {
            const postID = '<%= post.id %>';
            
            const url = '/api/users/<%= user.username %>/watchlist/add';
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ postID })
            });
            const json = await response.json();
            const status = await response.status;
            console.log(status, json);
            if (status == 201) {
                M.toast({html: 'Added to watchlist'});
                document.querySelector('#watchlistbtn').innerHTML = '<i class="material-icons left">remove_circle_outline</i>Remove from watchlist';
                document.querySelector('#watchlistbtn').onclick = removeFromWatchlist;
            }
        }

        async function removeFromWatchlist() {
            const postID = '<%= post.id %>';

            const url = '/api/users/<%= user.username %>/watchlist/remove';
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ postID })
            });
            const json = await response.json();
            const status = await response.status;
            console.log(status, json);
            if (status == 201) {
                M.toast({html: 'Removed from watchlist'});

                document.querySelector('#watchlistbtn').innerHTML = '<i class="material-icons left">playlist_add</i>Add to watchlist';
                document.querySelector('#watchlistbtn').onclick = addToWatchlist;
            }
        }

        async function deletePost() {

            const response = await fetch('/api/posts/delete', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ postID: '<%= post.id %>' })
            });
            const status = await response.status;
            const json = await response.json();
            console.log(status, json);

            if (status === 201) {
                redirect('/app');
            } else {
                alert(json.error);
            }
        }

    </script>

</html>