<!DOCTYPE html>
<html>
    <head>
		<link rel="stylesheet" href="/public/css/index.css" />
        <%- include('./partials/head'); %>
    </head>
    <body>
        <%- include('./partials/nav', { title: 'Profile', user: user, hideMenu: false, showBack: false, search: true }); %>

        <div class="container">
			<h4 class="center-align" style="font-weight: 500">
				<%= user.displayName %>
			</h4>
			<div class="row center-align">
				<div class="chip deep-orange white-text center-align">
					@<%= user.username %>
				</div>
			</div>
            <div class="row">
                <a href="/app/posts/create?referrer=/users/<%= user.username %> " class="btn deep-orange waves-effect waves-light" style="width: 100%;"><i class="material-icons left">edit</i>Create Post</a>
            </div>
			<div class="row"></div>
			<div class="row" id="search-row" hidden="true">
				<div class="input-field scale-transition">
					  <i class="material-icons prefix">search</i>              		
					<input id="search-box" type="text" />
					  <label for="search-box">Search</label>
				</div>
			</div>
			<hr />
			
            <% if (locals.posts.length == 0) { %>

                <h5 class="center-align">No posts yet</h5>
    
            <% } %>
			<% for (const i in locals.posts) { %>
			<div class="card z-depth-1 post-card">
				<a
					href="/app/posts/<%= locals.posts[i].id %>?referrer=/users/<%= user.username %> "
					style="color: black; font-weight: bold"
				>
					<div class="card-content">
						<% if (locals.posts[i].people) {  if (locals.posts[i].people.includes(user.username)) { %>
							<span class="new badge right deep-orange" data-badge-caption="Recommended to you"></span>
						<% }} %>
						<span class="card-title" style="font-weight: bold"
							><%= posts[i].title %></span
						>

						<div class="rating">
							<% for (let j = 1; j < 6; j++) { %>
								<span class="star star-<%= j %>  <% if (locals.posts[i].rating >= j) { %> deep-orange-text <% } %>">★</span>
							<% } %>
						</div>

						<div class="chip deep-orange white-text">
							<%= posts[i].category %>
						</div>
						<% if (posts[i].genre) { %>
                            <div class="chip genre-chip"><%= posts[i].genre %></div>
                        <% } %>
					</div>
				</a>
			</div>
			<% } %> 
            

		</div>

		<%- include('./partials/foot'); %>
        <script>
            M.AutoInit();

			const posts = [...document.querySelectorAll('.post-card')];
			document.querySelector('#search-box').oninput = (e) => {

				const searchTerm = document.querySelector('#search-box').value.trim().toLowerCase();

				if (searchTerm.length > 0) { 
					for (const i in posts) {
						const title = posts[i].querySelector('.card-title').textContent.trim().toLowerCase();

						const genreChip = posts[i].querySelector('.genre-chip');
						const genre = genreChip ? genreChip.textContent.trim().toLowerCase() : '';

						if (title.includes(searchTerm, 0) || genre.includes(searchTerm, 0)) {
							posts[i].removeAttribute('hidden');
						} else {
							posts[i].setAttribute('hidden', 'true');
						}
					}
				} else {
					for (const i in posts) {
						posts[i].removeAttribute('hidden');
					}
				}
			}

		function clearSearch() {
            for (const i in posts) {
                posts[i].removeAttribute('hidden');
            }
        }
        </script>
    </body>
</html>